body {
    background-color: rgb(113, 171, 219); /* 배경 색상 */
}

nav li {
    display: inline; /* 가로로 배치 */
    float: right; /* 오른쪽 정렬 */
    padding-top: 20px; /* 안 쪽 여백 위 */
    margin: 15px; /* 글자 간의 간격 */
}

nav ul {
    list-style: none; /* 불릿 없애기 */
}

nav a {
    color: black; /* 색상 정하기 */
    text-decoration: none; /* 하이퍼링크 밑 줄 없애기 */
    font-weight: bold; /* 글자 굵게 */
    font-size: 1.5em; /* 글자 사이즈 */
}

li h1 {
    display: inline-block; /* 디스플레이 인라인 블럭 요소*/
}

.content {
    text-align: center; /* 글자 가운데 정렬 */
}

ul {
    list-style: none; /* 불릿 없애기 */
}

section h1 {
    background-color: rgb(170, 42, 42); /* 배경 색상 정하기 */
    padding: 30px; /* 안 쪽 여백 */
    margin: 0px; /* 바깥 쪽 여백 */
}

h2 {
    padding: 30px; /* 안 쪽 여백 */
    margin: 0px; /* 바깥 쪽 여백 */
}

p {
    padding: 30px; /* 안 쪽 여백 */
    margin: 0px; /* 바깥 쪽 여백 */
    font-size: 1.3em; /* 글자 사이즈 */
}

.red_point {
    color: rgb(170, 42, 42); /* 색상 정하기 */
    font-weight: bold; /* 글자 굵게 */
}

.turquoise {
    color: rgb(45, 130, 102); /* 색상 정하기 */
}

.purple {
    color: blueviolet; /* 색상 정하기 */
} 

.green {
    color: green; /* 색상 정하기 */
}

.blue {
    color: dodgerblue; /* 색상 정하기 */
}

.orange {
    color: orange; /* 색상 정하기 */
}

.white {
    color: white; /* 색상 정하기 */
}

.yellow {
    color: yellow; /* 색상 정하기 */
}

.gold {
    color: gold; /* 색상 정하기 */
}

footer p {
    font-size: 15px; /* 글자 사이즈 */
    line-height: 30px; /* 라인 하이트 */
    margin: 20px; /* 바깥쪽 여백 */
}
