body {
    font-family: "맑은 고딕", "고딕", "굴림";
}

header {
    background-color: rgb(127, 150, 255);
    width: 80%;
    margin-left: auto; /* 영역 가운데 정렬*/
    margin-right: auto;
    padding: 10px;
    height: 80px
}

header h1 {
    float: left;
    color: white;
    padding-left: 20px;
}

header nav {
    float: right;
    padding-top: 20px;
}

nav ul {
    list-style: none; /* 불릿 없애기 */
}

nav li {
    display: inline;
    margin: 15px; /* 글자 간의 간격 */
}

nav a {
    color: white;
    text-decoration: none; /* 하이퍼링크 밑 줄 없애기 */
    font-weight: bold;
}

article {
    clear: both;
    width: 80%;
    margin-left: auto; /* 영역 가운데 정렬*/
    margin-right: auto;
    border: 5px solid black;
    padding: 5px;
}

section {
    column-count: 3; /* 단 나누기 */
    column-rule: 1px dotted gray;
    padding: 10px;
}

section h3 {
    break-before: column; /* h3 기준으로 다단을 나눠라 */
    padding-left: 15px;
}

section dt {
    padding-left: 20px;
}

section dt, section dd {
    line-height: 30px; /* 줄 간격 */
}

aside {
    clear: both;
    width: 80%;
    margin:0 auto;
    padding: 10px;
    background-color: rgb(127, 150, 255);
}

aside li {
    line-height: 30px;
}

footer {
    clear: both;
    color: white;
    text-align: center;
    width: 80%;
    margin-left: auto; /* 영역 가운데 정렬*/
    margin-right: auto;
    padding: 10px;
    background-color: black;
}